tnreason*
!tnreason.tex
!tnreason.pdf

.DS_Store
.idea
sketchGenerator*

application_sketches/llm_reasoning/*
!application_sketches/llm_reasoning/llm_lib.bib
!application_sketches/llm_reasoning/llm_reasoning.tex
!application_sketches/llm_reasoning/llm_reasoning.pdf

application_sketches/portfolio_optimization/*
!application_sketches/portfolio_optimization/portfolio_optimization.tex
!application_sketches/portfolio_optimization/portfolio_optimization.pdf

out/*